footer {
    flex-shrink: 0;
	height: 50px;
	background-color: rgb(31, 31, 31) ;
    line-height: 50px;
    text-align: center;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}